@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h2>Application Start</h2>
        <form method="post">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Difficulty</label>
                <div class="col-md-6">
                    <input class="form-control" name="difficulty"/>
                </div>
                <div>
                    <input type="submit" value="Start game" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
